<h1 class="text-center index-page-title">Users</h1>

<div class="users_list">
  <div id="user-info">
    <table>

      <tr>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
          <td>
            <button class="show-button"><%= link_to  "Details", user %></button>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>