/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#user-info table, th, td {
    border:1px solid #012e85;
}

#user-info {
    padding-top: 1%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

#user-info table{
    width: 80%;
    background-color: #6fd1f5;
    text-align: center;
}

#user-info th, td{
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.title{
    padding-top: 1%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.inline-div{
    display: inline;
}

#post-info {
    padding-top: 1%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

#post-info table{
    width: 80%;
    background-color: #b4f56f;
    text-align: center;
}

.edit-button{
    background-color: orange;
    border: none;
    padding: 7px 15px;
}

.delete-button{
    background-color: red;
    border: none;
    padding: 7px 10px;
}